section {
    margin: 0 auto;
    width: 600px;
}

img {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 1px solid black;
    float: left;
}
img:hover{
    cursor: pointer;
    border: 2px solid red;
}

.imageContainer {
    display: inline-block;

}